<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<style>
    .cont{
    
   height: 100vh;
   display: grid;
    
/* Change  values  👇 to experiment*/
   align-content: center;
   justify-content: center;
}
    
</style>
<body>
    <div class="cont">
    <img src="https://th.bing.com/th/id/R.590ea6db869d2cfbf548130b0fa7ddc3?rik=PeHdZbkJkhNpeg&riu=http%3a%2f%2fwww.quickmeme.com%2fimg%2fbd%2fbdf2eb2339e690ce84265bce3b8271757ba0a6c04cbcd5dc53254ee153afc9b2.jpg&ehk=GtxBGJPpyICirXhOskI7V%2fsQljMHbIAnI8MfYGestzw%3d&risl=&pid=ImgRaw&r=0" alt="Check  Your Password">
    <h1>Check your password</h1>
    <h2>Or Email already exists</h2>
    </div>
</body>
</html>