<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
   <style>
     .cont{
    
   height: 100vh;
   display: grid;
    place-items: center;
/* Change  values  👇 to experiment*/
   align-content: center;
   justify-content: center;

}
.cont a{
   margin-bottom: 0.10rem;
   font-size: 0.20rem;
   margin-top: 0.30rem;
}
.cont a:hover {
color: green;
}
img{
    width: 400px;
}
    </style>
    {{>style}}
</head>
<body>
    <div class="cont">
        <img src="https://www.thefactoryministries.org/wp-content/uploads/2019/06/LoggedOut.jpg" alt="log out successful">
        <h3>you have logout successfully from all devices and your cookies are cleaned </h3>
        <a href="/">Go back to home</a>
    </div>
</body>
</html>