<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
   <style>
     .cont{
    
   height: 100vh;
   display: grid;
    place-items: center;
/* Change  values  👇 to experiment*/
   align-content: center;
   justify-content: center;

}
.cont a{
   margin-bottom: 10px;
   font-size: 20px;
   margin-top: 30px;
}
.cont a:hover {
color: green;
}
img{
    width: 400px;
}
    </style>
</head>
<body>
    <div class="cont">
        <img src="https://th.bing.com/th/id/OIP.acIaVfm57jDmSgWFb9dKfgHaBd?pid=ImgDet&rs=1" alt="log out successful">
        <h3>you have logout successfully and your cookies are cleaned </h3>
        <a href="/">Go back to home</a>
    </div>
</body>
</html>