<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<style>
     .cont{
    
   height: 100vh;
   display: grid;
    place-items: center;
/* Change  values  👇 to experiment*/
   align-content: center;
   justify-content: center;
}
.cont a{
   margin-bottom: 10px;
   font-size: 20px;
   margin-top: 20px;
}
.cont a:hover {
color: green;
}
img{
    width: 200px;
}
    
</style>
<body>
    <div class="cont">
        <img src="https://www.logolynx.com/images/logolynx/88/880ed70ca5c21dd6e0312f5f61cca28b.jpeg" alt="this is secret info">
        <h2>your cookies are stored and you are a athunticate member</h2>
        <h3>you can view cookies by name 'jwt' folder in your browser</h3>
         <a href="/">Go back to home</a>
    </div>
</body>
</html>