<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    
</head>
<style>
    .cont{
    
   height: 100vh;
   display: grid;
   place-items: center;
    
/* Change  values  👇 to experiment*/
   align-content: center;
   justify-content: center;
}
.cont a{
   margin-bottom: 0.10rem;
   font-size: 0.20rem;
   margin-top: 0.2rem;
}
.cont a:hover {
color: green;
}
  @media(max-width:768px){
    .cont a{
      font-size: 50px;
    }
}
</style>
{{>style}}
<body>
    <div class="cont">
        <img src="https://1.bp.blogspot.com/-kmVluQXO5nY/XudZyouYxsI/AAAAAAAAAA4/GAYCM3iZQis3ocrDWAgF7lQdmvXJgvbggCK4BGAsYHg/w1200-h630-p-k-no-nu/IMG_20200615_171953.jpg" alt="you are registered">
    <h1>You have registerd successfully</h1>
    <h3>Go back to login page 👇 </h3>
    <a href="login">Login Page</a>
    </div>

</body>
</html>