<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
   {{>style}}
   <style>
      .box{
display: flex;  
gap: 0.10rem;
 justify-content: center;
  align-items: center;
  height: 100vh;       
      }
     .cont{
    
   height: 100vh;
   display: grid;
    
/* Change  values  👇 to experiment*/
   align-content: center;
   justify-content: center;
   width: auto;
   
   place-items: center;
}
.cont a{
   margin-bottom: 0.10rem;
   font-size: 0.20rem;
}
.cont a:hover {
color: green;
}
img{
    width: 4.00rem;
}
.btn{
   height: fit-content;
   right: 0.90rem;
   display: flex;
   gap: 0.30rem;
   flex-direction: column;
   line-height: 0.10rem;
   justify-content:space-around;
   background-color: white;
}
.btn:hover{
   background-color: white;

}
.btn a:hover{
      color: red;
}
.btn a{
   right: 0.30rem;
   top: 0.90rem;
   width: auto;
   height: 0.60rem;
   font-size: 0.20rem;
}
.btn div {
   justify-content: space-between;
   margin-bottom: 0.40rem;
}
   @media(max-width:768px){
    .cont a, .btn a{
      font-size: 15px;
    }
    .cont img{
width: 80px;
    }
    .btn div {
   justify-content: space-between;
   margin-bottom: 20px;
   height: max-content;
}
.btn div a{
   display: inline-block;
   height: fit-content;
   margin-bottom: 10px;
}
.cont a{
   margin-top: 10px;
}
} 
</style>
</head>

<body>
   <div class="box">
    <div class="cont">
        <img src="https://www.pngkit.com/png/detail/870-8701158_your-information-has-been-submitted-successfully-thank-you.png" alt="log in successful">
        <h5>You Have logged in successfully and  </h5> <br>
       <h5>  your data has stored in our database</h5>
        <a href="/">Back to Home page</a>
        <a href="register">Register as another user</a>
        <a href="login">Login as another user</a>
        <a href="secret">Authorised page</a>
    </div>
    <div class="btn">
      <div><a href="/logout">Logout</a></div>
      <div> <a href="/logoutALL">Logout From all devices</a></div>
     
    </div>
    </div>
</body>
</html>